/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
  background: url('/images/noisy_grid.png');
}

body {
  font: 13px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}


h1 { margin-bottom: 20px; }
p { 
  margin: 1em 0;
  font-size: 90%;
}

a         { color: #00a; }
a:hover   { color: orange; }
a:visited { color: orange; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 45em;
  margin: 1em auto;
  line-height: 1.5em;
  min-height: 100%;
  margin-bottom: 100px;
  clear: both;
}

.site .header a {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 1px 2px #B5B5B5;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}


.site .header h1.title {
  display: inline-block;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: grey;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 2px solid grey;
  margin-top: 2em;
  position: absolute;
  bottom: 0px;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post {
  margin-bottom: 10px;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

.right {
  float: right;
}

/* IDs */

#about {
  float: left;
  opacity: .6; 
}

#about:hover {
  opacity: .8; 
}

#headerlogo {
  text-align: center;
  font-size: 200%;
  margin-bottom: 50px
}

#iconsright {
  text-align: right;
  margin-bottom: 20px;
}

#headericons {
  opacity: .35; 
}

#headericons:hover {
  opacity: .7; 
}

#disqus_thread {
  font-size: 80%
}