<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="container">
          <div class="site header">
            <div id="about">
              <a id="about" href="/about"><img src="/images/about.png"></a>
            </div>

            <div id="iconsright">
              <a id="headericons" href="http://www.github.com/addisonhuddy"><img src="/images/github.png"></a>
              <a id="headericons" href="http://www.twitter.com/addisonhuddy"><img src="/images/twitter.png"></a>
              <a id="headericons" href="http://www.linkedin.com/in/addisonhuddy"><img src="/images/linkedin.png"></a>
              <a id="headericons" href="mailto:addisonhuddy@gmail.com"><img src="/images/email.png"></a>
            </div>
            <div class="header" id='headerlogo'>
              <h1><a href="/">A D D I S O N H U D D Y</a><h1>
            </div>

                {{ content }}
          <div class="footer">
            &copy Addison Huddy. Made in California. Opinions are my own.
          </div>
        </div> 
      </div> <!-- /container -->
    </body>
</html>
